<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <select>
        <option>북구</option>
        <option>수성구</option>
        <option>서구</option>
        <option>달서구</option>
        <option>동구</option>
    </select>
    <input type="number" placeholder="페이지 번호" id="pageNum">
    <input type="number" placeholder="페이지 당 개수" id="pagePerNum">
    <button>선택</button>
</body>
</html>

<script>
    const btn = document.querySelector('button');
    const select = document.querySelector('select');
    const pageNum = document.getElementById('pageNum');
    const pagePerNum = document.getElementById('pagePerNum');
    btn.onclick = () => {
        fetch(`/index/${pageNum.value}/${pagePerNum.value}`)
            .then(response => { return response.json() })
            .then(value => {
                // 내가 원하는 데이터만 담을 상자 하나 만든다
                let arr = [];
                for(let i = 0; i < value.data.length; i++){
                    if(select.value === value.data[i].시군구명){
                        document.body.insertAdjacentHTML(`beforeend`, `<div>${value.data[i].가맹점명}</div>`);
                        arr.push(value.data[i]);
                    }
                }

                fetch("/insert", {
                    method:"post",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(arr)
                });

            });

    }
</script>
